div{
    position:absolute;
    left:100px;
    width:100px;
    height:50px;
    margin-left:-50px;
    background-color:#000;
    color:#fff;
    /* 애니메이션 이름 */
    animation-name: jaehee;
    animation-duration:2s;
    animation-duration: leaner;
    animation-iteration-count:3;
    animation-direction:alternate;
    animation-fill-mode: forwards;
  }
  
  /* 키프레임 이름 = 애니메이션 이름 */
  @-webkit-keyframes jaehee {
    0% {
      left:100px;
    }
    100% {
      left:300px;
    }
  }