.box {
  background: blue;
  width: 100px;
  height: 100px;
  display: inline-block;
  color: white;
}

.box:nth-child(2) {
  margin-left: 35px;
}

.box:nth-child(3) {
  margin-left: 20px;
}
