.wrapper {
  display: flex;
  flex-direction: row;
  /* Main Axis */
  justify-content: space-around;
  /* Cross Axis */
  align-items: flex-end;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
}
